/* You can add global styles to this file, and also import other style files */

button.next-button {
  color: white;
  background-color: green;
}


button.back-button {
  color: white;
  background-color: orange !important;
}
